VITE_APP_ENV=production
VITE_PUBLIC_APP_URL=https://haligali.swonport.kr
VITE_ADMIN_APP_URL=https://admin.haligali.swonport.kr
VITE_SUPABASE_URL=your-production-vite-supabase-url
VITE_SUPABASE_ANON_KEY=your-production-vite-supabase-anon-key
VITE_VAPID_PUBLIC_KEY=your-production-vite-vapid-public-key
