VITE_APP_ENV=production
VITE_PUBLIC_APP_URL=https://haligali.swonport.kr
VITE_ADMIN_APP_URL=https://admin.haligali.swonport.kr
VITE_SUPABASE_URL=https://yubrhrdzcqpbchivmxdb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl1YnJocmR6Y3FwYmNoaXZteGRiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM4ODI0NDIsImV4cCI6MjA5OTQ1ODQ0Mn0.7ooO83yPWw1aYPfClYII3nmGmQ4TViEJYhG0-Af-prk
VITE_VAPID_PUBLIC_KEY=your-production-vapid-public-key
